<html>
  <head>
    <title>チャット</title>
    <style>
     input {
       display: block;
     }
     ul {
       list-style: none;
     }
     ul#messages {list-style: none;}
     ul#messages li {margin-bottom: 20px;}
     ul#messages li img {margin-right: 10px;}
     div#msgArea {margin-top: 20px;}
    </style>
    <link rel="stylesheet"
       href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div id="msgArea" class="panel panel-default">
        <div class="panel-body">
          <ul id="messages"></ul>
        </div>
      </div>
      <form id="chatbox" role="from">
        <div class="form-group">
          <label for="message">{{.UserData.name}}からメッセージを送信</label>
          または<a href="/logout">サインアウト</a>
          <textarea id="message" class="form-control"></textarea>
        </div>
        <input type="submit" value="送信" />
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
    <script>
      $(function () {
        var socket = null;
        var msgBox = $("#chatbox textarea");
        var message = $("#messages");

        $("#chatbox").submit(function(){
          if (!msgBox.val()) return false;

          if (!socket) {
            alert("エラー: WebSocket接続が行われていません。");
            return false;
          }
          var msg = JSON.stringify({"Message": msgBox.val()});
          console.log(msg);
          socket.send(msg);
          msgBox.val("");
          console.log("メッセージを送信しました。");
          return false;
        });

        if (!window["WebSocket"]) {
          alert("エラー: WebSocketに対応していないブラウザです。")
        } else {
          socket = new WebSocket("ws://{{.Host}}/room");
          socket.onclose = function () {
            alert("接続が終了しました。");
          }
          socket.onmessage = function (e) {
            var msg = eval("("+e.data+")");
            message.append(
              $("<li>").append(
                $("<img>").css({
                  width: 50,
                  verticalAligen:"middle",
                }).attr("src",msg.AvatarURL).attr("title", msg.Name),
                $("<string>").text(msg.Name + ": "),
                $("<span>").text(msg.Message)
              )
            );
            console.log("メッセージを受信しました。");
          }
        }
      })
    </script>
  </body>
</html>
